<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
</head>

<body>
      <%- include('./partials/navbar.ejs') %>

      <div class="container">
            <div class="row justify-content-center space-top">
                  <div class="col-10">
                        <% articles.forEach(article => { %>
                        <div class="article">
                              <h1 class="mb-3"><%= article.title %></h1>
                              <h6 class=" text-muted mb-3 mt-2"><%= article.createdAt.toLocaleDateString(); %></h6>
                              <p class="mb-4 mt-1"><%= article.description %></p>

                              <a href="/article/detail/<%= article.slug %>"
                                    class="btn btn-outline-info btn-sm mb-4 mr-3">Read More</a>
                              <a href="/article/edit/12" class="btn btn-outline-primary btn-sm mb-4 mr-3">Edit</a>
                              <a href="#" class="btn btn-outline-danger btn-sm mb-4">Delete</a>
                              <hr class="mb-5">
                        </div>
                        <% }); %>
                  </div>
            </div>
</body>

</html>