<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../css/navbar-2.css">
   <link rel="stylesheet" href="../../css/detail-article.css">
   <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css">
   <title><%= article.title %></title>
</head>

<body>
   <%- include('../partials/navbar-3') %>

   <div class="modal-delete">
      <div class="modal">
         <div class="modal-head">
            <h1>Delete Article</h1>
         </div>

         <div class="modal-content">
            Are you sure delete this article ??
         </div>

         <div class="modal-footer">
            <button class="cancel-btn">Cancel</button>
            <form action="/article/delete/<%= article.id %>?_method=DELETE" method="POST">
               <button type="submit">Delete</button>
            </form>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="head">
         <h1 class="title"><%= article.title %></h1>
         <p class="date"><%= formatDate(article.createdAt) %></p>
         <% article.tags.forEach((tag) => { %>
         <div class="tag"><%= tag %></div>
         <% }) %>
      </div>

      <div class="article-body">
         <%- article.sanitizedHtml %>
      </div>
   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
   <script src="/js/script.js"></script>
</body>

</html>