<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css">
      <title><%= article.title %></title>
</head>

<body>
      <%- include('../partials/navbar.ejs') %>

      <div class="container">
            <div class="row justify-content-center mb-5 space-top">
                  <div class="col-9">
                        <h1><%= article.title %></h1>
                        <h6 class="text-muted mb-4 mt-3"><%= article.createdAt.toLocaleDateString(); %></h6>
                        <div class="mt-3" id="markdown-blog">
                              <%- article.sanitizedHtml %>
                        </div>
                  </div>
            </div>
      </div>

      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
      <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                  document.querySelectorAll('pre code').forEach((block) => {
                        hljs.highlightBlock(block);
                  });
            });
      </script>
</body>

</html>