<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../css/navbar-2.css">
   <link rel="stylesheet" href="../../css/detail-article.css">
   <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css">
   <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
   <script defer src="/js/markdown.js"></script>
   <script defer src="/js/dropdown-modal.js"></script>
   <title><%= article.title %></title>
</head>

<body>
   <%- include('../partials/navbar-3') %>

   <%- include('../partials/modal') %>

   <div class="article">
      <div class="article__head">
         <h1 class="article-head__title"><%= article.title %></h1>
         <p class="article-head__date"><%= formatDate(article.createdAt) %></p>
         <div class="article-head__tag"><%= article.tag %></div>
      </div>

      <div class="article__body">
         <%- article.sanitizedHtml %>
      </div>
   </div>
</body>

</html>