<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css">
      <title><%= article.title %></title>
</head>

<body>
      <!-- navbar -->
      <%- include('../partials/navbar3.ejs'); %>


      <!-- article body -->
      <div class="container">
            <div class="row justify-content-center mb-5 space-top">
                  <div class="col-10">
                        <h1 class="artilce-title"><%= article.title %></h1>

                        <h5 class="text-muted mt-3 article-date"><%= formatDate(article.createdAt); %></h5>

                        <% article.tags.forEach(tag => { %>
                        <div class="badge badge-dark mb-2 text-monospace">
                              <%= tag %>
                        </div>
                        <% }); %>

                        <div id="markdown-blog">
                              <%- article.sanitizedHtml %>
                        </div>
                  </div>
            </div>
      </div>


      <!-- Modal for delete article -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                  <div class="modal-content">
                        <div class="modal-body text-monospace">
                              Are you sure you want to delete this article ?
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn btn-outline-danger text-monospace mr-3"
                                    data-dismiss="modal">No</button>
                              <form action="/article/delete/<%= article.id %>?_method=DELETE" method="POST"
                                    class="d-inline">
                                    <button type="submit" class="btn btn-outline-dark text-monospace">Yes</button>
                              </form>
                        </div>
                  </div>
            </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
      <script src="/js/script.js"></script>
</body>

</html>