<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tag %></title>
</head>

<body>
    <%- include('../partials/navbar.ejs'); %>

    <div class="container">
        <div class="row justify-content-center space-top mb-4">
            <div class="col-9">
                <% if (articles.length !== 0) { %>
                <% articles.forEach(article => { %>
                <div class="article">
                    <h1 class="mb-2"><%= article.title %></h1>

                    <h5 class="text-muted mt-3 article-date"><%= formatDate(article.createdAt); %></h5>

                    <% article.tags.forEach(tag => { %>
                    <div class="badge badge-dark mb-4 text-monospace">
                        <%= tag %>
                    </div>
                    <% }); %>

                    <p class="mb-3 mt-1"><%= article.description %></p>

                    <div class="d-flex flex-row-reverse bd-highlight mt-2">
                        <div class="p-2">
                            <a href="/article/detail/<%= article.slug %>"
                                class="btn btn-outline-dark btn-sm mb-4 text-monospace">Read More</a>
                        </div>
                    </div>

                    <hr class="mb-5 mt-1">
                </div>
                <% }); %>

                <% } else { %>
                <div class="not-found text-center mt-5 text-monospace">
                    <h1>Article with the tag "<%= tag %>" does not exist</h1>
                    <h1>~~~~~~~</h1>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>